# Standard ignore files for express node js server
node_modules/
npm-debug.log
.DS_Store

# Ignore the .env file
.env

# Ignore the .glove.6B.200d.txt file
glove.6B.200d.txt
embeddings.json

google-10000-english-usa-no-swears-medium.txt
google-10000-english-usa-no-swears-long.txt

words_long.json 
words_medium.json